<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>Controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleSuscripcionUsuarioControlador</servlet-name>
        <servlet-class>Controlador.DetalleSuscripcionUsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperacionControlador</servlet-name>
        <servlet-class>Controlador.OperacionControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleSuscripcionUsuarioControlador</servlet-name>
        <url-pattern>/DetalleSuscripcionUsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperacionControlador</servlet-name>
        <url-pattern>/OperacionControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
